/* body {

  color: white;

} */


.inputs-container {
  max-width: 30vw;
  width: 100%;
  height:63vh;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

input {
  /* width: 35%; */
  margin: .3rem;
  border: solid 1px #706653;
  border-radius: 5px;
  padding: 5px;
}

.main-container button {
  margin-top: 1rem;
  padding: 20px;
  background-color: #c7b597;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
}

h2 {
  color: #706653;
  margin: 1.5rem 0px;
  text-align: center;
}

img {
  /* border: solid 2px black; */
  height: 70vh;
  width: 20%;
  /* background-size: ; */
}

.petSalon-pets {
  margin: 1rem;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}